.loading {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.75);
   display: flex;
   justify-content: center;
   align-items: center;
}

.loading img {
   width: 10%;
   height: auto;
   margin: auto auto;
   object-fit: cover;
}
